
<ul id="fiche" class="list-group">
  <li class="list-group-item">id: {{ assure?.id}}</li>
  <li class="list-group-item">Nom: {{ assure?.nom | titlecase}}</li>
  <li class="list-group-item">Matricule: {{ assure?.matricule}}</li>
  <li class="list-group-item">Salaire: {{ assure?.salaire | currency:'TND':'symbol':'3.3'}}</li>
  <li class="list-group-item">Date: {{ assure?.date}}</li>
</ul>
