<app-form-assure [assure]="assure"></app-form-assure>
<app-fiche-assure  [hidden]="hide" [assure]="assure"></app-fiche-assure>
<table id="list" class="table-hover table">
  <tr (click)="afficherAssure(assure.id)" *ngFor="let assure of listAssure;odd as i"  >
    <td><p *ngIf="i">paire</p></td>
    <td  >{{ assure.nom| titlecase}}</td>
    <td>{{ assure.matricule}}</td>
    <td><button (click)="delete(assure.id)">x</button></td>
    <td><button (click)="populate(assure)">Update</button></td>
  </tr>
</table>
