<div>
  <form #form class="form-group">

    <div >
      <label class="col-form-label"> Matricule:
        <input   class="form-control" (change)="log()" [(ngModel)]="assure.matricule" #matricule="ngModel" name="matricule" type="number"/>
      </label>
    </div>

    <div >
      <label class="col-form-label">Nom:
        <input pattern="[a-zA-Z ]*" minlength="3" class="form-control" required [(ngModel)]="assure.nom"  #nom="ngModel" name="nom" type="text"/>
        <div *ngIf="nom.invalid && nom.touched">
            <small *ngIf="nom.errors.required" class="alert-danger">champ obligatoire</small>
            <small *ngIf="nom.errors.minlength" class="alert-danger">nombre de char {{nom.errors.minlength.requiredLength}}</small>
            <small *ngIf="nom.errors.pattern" class="alert-danger">entree non  comforme au motif fourni </small>
        </div>
      </label>
    </div>
    <div >
      <label class="col-form-label">Salaire:
        <input  class="form-control" [(ngModel)]="assure.salaire" #salaire="ngModel" name="salaire" type="number"/>
      </label>
    </div>
    <div>
      <label class="col-form-label">Date:
        <input  class="form-control" [(ngModel)]="assure.date" #date="ngModel" name="date" type="date"/>
      </label>
    </div>
    <button (click)="save()">Save</button>
  </form>
</div>
