<div>

  <ul>
    <li>mat: {{ empl.matricule }}</li>
    <li>clé: {{empl.cle}}</li>
    <li>raison..: {{ empl.raisonSociale}}</li>
    <li>Regime: {{ empl.regime==0?'Général':'Agricole' }}</li>
  </ul>
</div>
